In [32]:
import pandas as pd
import numpy as np

PATH="~/tensorflow_projekte/titanic/"

train_data=pd.read_csv(PATH + "data/train.csv", index_col=0)

In [38]:
"""Variable	Definition	Key
survival 	Survival 	0 = No, 1 = Yes
pclass 	Ticket class 	1 = 1st, 2 = 2nd, 3 = 3rd
sex 	Sex 	
Age 	Age in years 	
sibsp 	# of siblings / spouses aboard the Titanic 	
parch 	# of parents / children aboard the Titanic 	
ticket 	Ticket number 	
fare 	Passenger fare 	
cabin 	Cabin number 	
embarked 	Port of Embarkation 	C = Cherbourg, Q = Queenstown, S = Southampton
"""
train_data

,Survived,Pclass,Sex_r,Age,SibSp,Parch,Fare,Embarked_r,Cabin_Code_r
PassengerId,,,,,,,,,
1,0,3,1,22.000000,1,0,7.2500,2,8
2,1,1,0,38.000000,1,0,71.2833,0,2
3,1,3,0,26.000000,0,0,7.9250,2,8
4,1,1,0,35.000000,1,0,53.1000,2,2
5,0,3,1,35.000000,0,0,8.0500,2,8
6,0,3,1,29.699118,0,0,8.4583,1,8
7,0,1,1,54.000000,0,0,51.8625,2,4
8,0,3,1,2.000000,3,1,21.0750,2,8
9,1,3,0,27.000000,0,2,11.1333,2,8
10,1,2,0,14.000000,1,0,30.0708,0,8
11,1,3,0,4.000000,1,1,16.7000,2,6
12,1,1,0,58.000000,0,0,26.5500,2,2
13,0,3,1,20.000000,0,0,8.0500,2,8
14,0,3,1,39.000000,1,5,31.2750,2,8
15,0,3,0,14.000000,0,0,7.8542,2,8
16,1,2,0,55.000000,0,0,16.0000,2,8
17,0,3,1,2.000000,4,1,29.1250,1,8
18,1,2,1,29.699118,0,0,13.0000,2,8
19,0,3,0,31.000000,1,0,18.0000,2,8
20,1,3,0,29.699118,0,0,7.2250,0,8
21,0,2,1,35.000000,0,0,26.0000,2,8
22,1,2,1,34.000000,0,0,13.0000,2,3
23,1,3,0,15.000000,0,0,8.0292,1,8
24,1,1,1,28.000000,0,0,35.5000,2,0
25,0,3,0,8.000000,3,1,21.0750,2,8
26,1,3,0,38.000000,1,5,31.3875,2,8
27,0,3,1,29.699118,0,0,7.2250,0,8
28,0,1,1,19.000000,3,2,263.0000,2,2
29,1,3,0,29.699118,0,0,7.8792,1,8
30,0,3,1,29.699118,0,0,7.8958,2,8
...,...,...,...,...,...,...,...,...,...
862,0,2,1,21.000000,1,0,11.5000,2,8
863,1,1,0,48.000000,0,0,25.9292,2,3
864,0,3,0,29.699118,8,2,69.5500,2,8
865,0,2,1,24.000000,0,0,13.0000,2,8
866,1,2,0,42.000000,0,0,13.0000,2,8
867,1,2,0,27.000000,1,0,13.8583,0,8
868,0,1,1,31.000000,0,0,50.4958,2,0
869,0,3,1,29.699118,0,0,9.5000,2,8
870,1,3,1,4.000000,1,1,11.1333,2,8
871,0,3,1,26.000000,0,0,7.8958,2,8
872,1,1,0,47.000000,1,1,52.5542,2,3
873,0,1,1,33.000000,0,0,5.0000,2,1
874,0,3,1,47.000000,0,0,9.0000,2,8
875,1,2,0,28.000000,1,0,24.0000,0,8
876,1,3,0,15.000000,0,0,7.2250,0,8
877,0,3,1,20.000000,0,0,9.8458,2,8
878,0,3,1,19.000000,0,0,7.8958,2,8
879,0,3,1,29.699118,0,0,7.8958,2,8
880,1,1,0,56.000000,0,1,83.1583,0,2
881,1,2,0,25.000000,0,1,26.0000,2,8
882,0,3,1,33.000000,0,0,7.8958,2,8
883,0,3,0,22.000000,0,0,10.5167,2,8
884,0,2,1,28.000000,0,0,10.5000,2,8
885,0,3,1,25.000000,0,0,7.0500,2,8
886,0,3,0,39.000000,0,5,29.1250,1,8
887,0,2,1,27.000000,0,0,13.0000,2,8
888,1,1,0,19.000000,0,0,30.0000,2,1
889,0,3,0,29.699118,1,2,23.4500,2,8
890,1,1,1,26.000000,0,0,30.0000,0,2
891,0,3,1,32.000000,0,0,7.7500,1,8

In [34]:
train_data["Cabin_Code"]=train_data["Cabin"].str[0]

In [35]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
train_data["Sex_r"]=le.fit_transform(train_data["Sex"])
train_data["Embarked_r"]=le.fit_transform(train_data["Embarked"].astype(str))
train_data["Cabin_Code_r"]=le.fit_transform(train_data["Cabin_Code"].astype(str))

In [36]:
for x in ["Pclass","Sex_r","Age","SibSp","Parch","Fare"]:
    train_data[x].fillna(train_data[x].mean(), inplace=True)

In [37]:
train_data=train_data[["Survived","Pclass","Sex_r","Age","SibSp","Parch","Fare", "Embarked_r","Cabin_Code_r"]].copy(deep=True)

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train_data.iloc[:,1:], train_data.iloc[:,0], test_size=0.33, random_state=42)

In [40]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

clf = RandomForestClassifier(max_depth=20, random_state=0)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [41]:
print(clf.feature_importances_)

[0.09467561 0.22113379 0.23710215 0.04422136 0.03726611 0.23104573
 0.03732857 0.09722669]

In [42]:
y_pred=clf.predict(X_test)

In [46]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.79      0.83      0.81       175
          1       0.73      0.68      0.70       120

avg / total       0.76      0.77      0.76       295

In [48]:
# Grid Search
from sklearn.model_selection import GridSearchCV

param_grid = [
  {'max_depth':[10,15,20,25,30], 'n_estimators':[10,50,80,100,200]}
 ]

grid_search = GridSearchCV(clf, param_grid=param_grid)

grid_search.fit(X_train, y_train)

NameError: name 'report' is not defined

In [54]:
print(grid_search.best_params_ )

{'max_depth': 10, 'n_estimators': 200}

In [55]:
clf = RandomForestClassifier(max_depth=10, n_estimators=200, random_state=0)
clf.fit(X_train, y_train)
y_pred=clf.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.81      0.87      0.84       175
          1       0.79      0.70      0.74       120

avg / total       0.80      0.80      0.80       295