In [1]:
# Loading Data

import pandas as pd
import numpy as np

PATH="~/tensorflow_projekte/titanic/"

train_data=pd.read_csv(PATH + "data/train.csv", index_col=0)
test_data=pd.read_csv(PATH + "data/test.csv", index_col=0)

In [2]:
#Dataset and Variables

"""Variable	Definition	Key
survival 	Survival 	0 = No, 1 = Yes
pclass 	Ticket class 	1 = 1st, 2 = 2nd, 3 = 3rd
sex 	Sex 	
Age 	Age in years 	
sibsp 	# of siblings / spouses aboard the Titanic 	
parch 	# of parents / children aboard the Titanic 	
ticket 	Ticket number 	
fare 	Passenger fare 	
cabin 	Cabin number 	
embarked 	Port of Embarkation 	C = Cherbourg, Q = Queenstown, S = Southampton
"""
train_data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
# Extract Title from Name

import re

train_data["titel"]=train_data["Name"].str.extract(', (.+?) ', expand=False)

train_data["titel_r"]="Else"
train_data.loc[train_data["titel"]=="Master.", "titel_r"]="Master"
train_data.loc[train_data["titel"]=="Miss.", "titel_r"]="Miss"
train_data.loc[train_data["titel"]=="Mr.", "titel_r"]="Mr"
train_data.loc[train_data["titel"]=="Mrs.", "titel_r"]="Mrs"

test_data["titel"]=test_data["Name"].str.extract(', (.+?) ', expand=False)

test_data["titel_r"]="Else"
test_data.loc[test_data["titel"]=="Master.", "titel_r"]="Master"
test_data.loc[test_data["titel"]=="Miss.", "titel_r"]="Miss"
test_data.loc[test_data["titel"]=="Mr.", "titel_r"]="Mr"
test_data.loc[test_data["titel"]=="Mrs.", "titel_r"]="Mrs"

In [4]:
#Encoding of Categorical Variables

from sklearn import preprocessing
le = preprocessing.LabelEncoder()

train_data["Cabin_Code"]=train_data["Cabin"].str[0]

train_data["Sex_r"]=le.fit_transform(train_data["Sex"])
train_data["Embarked_r"]=le.fit_transform(train_data["Embarked"].astype(str))
train_data["Cabin_Code_r"]=le.fit_transform(train_data["Cabin_Code"].astype(str))
train_data["titel_rr"]=le.fit_transform(train_data["titel_r"].astype(str))

test_data["Cabin_Code"]=test_data["Cabin"].str[0]

test_data["Sex_r"]=le.fit_transform(test_data["Sex"])
test_data["Embarked_r"]=le.fit_transform(test_data["Embarked"].astype(str))
test_data["Cabin_Code_r"]=le.fit_transform(test_data["Cabin_Code"].astype(str))
test_data["titel_rr"]=le.fit_transform(test_data["titel_r"].astype(str))

In [5]:
# Replace Missing Values by mean

for x in ["Pclass","Sex_r","Age","SibSp","Parch","Fare", "titel_rr"]:
    train_data[x].fillna(train_data[x].mean(), inplace=True)
    test_data[x].fillna(test_data[x].mean(), inplace=True)

In [6]:
# Add relatives (sum fo sibsp and parch)

train_data["relatives"]=train_data["SibSp"].add(train_data["Parch"])
test_data["relatives"]=test_data["SibSp"].add(test_data["Parch"])

In [7]:
## Final Dataset

train_data=train_data[["Survived","Pclass","Sex_r","Age","SibSp","Parch","Fare", "Embarked_r","Cabin_Code_r","titel_rr", "relatives"]].copy(deep=True)
test_data=test_data[["Pclass","Sex_r","Age","SibSp","Parch","Fare", "Embarked_r","Cabin_Code_r", "titel_rr", "relatives"]].copy(deep=True)

In [8]:
# Train - Test Split of training-data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train_data.iloc[:,1:], train_data.iloc[:,0], test_size=0.20, random_state=42)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

clf_rf = RandomForestClassifier(max_depth=10, n_estimators=400, min_samples_split=4, random_state=0)
clf_rf.fit(X_train, y_train)
y_pred=clf_rf.predict(X_test)
print(classification_report(y_test, y_pred))
#print(clf.feature_importances_)

             precision    recall  f1-score   support

          0       0.85      0.88      0.86       105
          1       0.82      0.78      0.80        74

avg / total       0.84      0.84      0.84       179

In [10]:
# Grid Search
"""
from sklearn.model_selection import GridSearchCV

param_grid = [
  {'max_depth':[10,15,20,25,30], 'n_estimators':[10,50,80,100,200,400], 'min_samples_split':[2,4,6]}
 ]

grid_search = GridSearchCV(clf_rf, param_grid=param_grid)

grid_search.fit(X_train, y_train)
print(grid_search.best_params_ )
"""

"\nfrom sklearn.model_selection import GridSearchCV\n\nparam_grid = [\n  {'max_depth':[10,15,20,25,30], 'n_estimators':[10,50,80,100,200,400], 'min_samples_split':[2,4,6]}\n ]\n\ngrid_search = GridSearchCV(clf_rf, param_grid=param_grid)\n\ngrid_search.fit(X_train, y_train)\nprint(grid_search.best_params_ )\n"

In [11]:
from sklearn.ensemble import GradientBoostingClassifier
clf_gb = GradientBoostingClassifier(max_depth=15, n_estimators=400, min_samples_split=4, random_state=0)
clf_gb.fit(X_train, y_train)
y_pred=clf_gb.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.82      0.85      0.83       105
          1       0.77      0.73      0.75        74

avg / total       0.80      0.80      0.80       179

In [12]:
# Grid Search
"""
from sklearn.model_selection import GridSearchCV

param_grid = [
  {'max_depth':[10,15,20,25,30], 'n_estimators':[10,50,80,100,200,400], 'min_samples_split':[2,4,6]}
 ]

grid_search = GridSearchCV(clf_gb, param_grid=param_grid)

grid_search.fit(X_train, y_train)
print(grid_search.best_params_ )
"""

"\nfrom sklearn.model_selection import GridSearchCV\n\nparam_grid = [\n  {'max_depth':[10,15,20,25,30], 'n_estimators':[10,50,80,100,200,400], 'min_samples_split':[2,4,6]}\n ]\n\ngrid_search = GridSearchCV(clf_gb, param_grid=param_grid)\n\ngrid_search.fit(X_train, y_train)\nprint(grid_search.best_params_ )\n"

In [13]:
# SUpporting vevor machine
from sklearn import svm
clf_svm = svm.SVC(kernel='linear', C=0.8)
clf_svm.fit(X_train, y_train)
y_pred=clf_svm.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.80      0.84      0.82       105
          1       0.75      0.70      0.73        74

avg / total       0.78      0.78      0.78       179

In [14]:
# Grid Search
"""
from sklearn.model_selection import GridSearchCV

param_grid = [
  {'kernel':['linear',  'rbf'], 'C':[0.8,0.9,1,1.1,1.2]}
 ]

grid_search = GridSearchCV(clf_svm, param_grid=param_grid)

grid_search.fit(X_train, y_train)
print(grid_search.best_params_ )
"""

"\nfrom sklearn.model_selection import GridSearchCV\n\nparam_grid = [\n  {'kernel':['linear',  'rbf'], 'C':[0.8,0.9,1,1.1,1.2]}\n ]\n\ngrid_search = GridSearchCV(clf_svm, param_grid=param_grid)\n\ngrid_search.fit(X_train, y_train)\nprint(grid_search.best_params_ )\n"

In [15]:
from sklearn.linear_model import LogisticRegression
clf_lr = LogisticRegression()
clf_lr.fit(X_train, y_train)
y_pred=clf_lr.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.80      0.85      0.82       105
          1       0.76      0.70      0.73        74

avg / total       0.79      0.79      0.79       179

In [16]:
# Voting Classifier
from sklearn.ensemble import VotingClassifier
votcl = VotingClassifier(estimators=[('lr', clf_lr), ('rf', clf_rf), ('gb', clf_gb)],voting='soft',  weights=[1,2,1])
votcl.fit(X_train, y_train)
y_pred=votcl.predict(X_test)
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.84      0.88      0.86       105
          1       0.81      0.76      0.78        74

avg / total       0.83      0.83      0.83       179

/home/falko/pyft/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [17]:
test_data_pred=votcl.predict(test_data)

/home/falko/pyft/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [18]:
pd.DataFrame({'PassengerId': test_data.index, 'Survived': test_data_pred}).to_csv(PATH+"data/submit.csv", index=False)

In [ ]:
### Now the same in tensor flow

In [22]:
import tensorflow as tf
# Feature columns describe how to use the input.
my_feature_columns = []
for key in X_train.columns:
    my_feature_columns.append(tf.feature_column.numeric_column(key=key))

In [46]:
my_feature_columns

[_NumericColumn(key='Pclass', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Sex_r', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='SibSp', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Parch', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Fare', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Embarked_r', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Cabin_Code_r', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='titel_rr', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='relatives', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [125]:
    # Build 2 hidden layer DNN with 10, 10 units respectively.
    classifier = tf.estimator.DNNClassifier(
        feature_columns=my_feature_columns,
        # Two hidden layers of 10 nodes each.
        hidden_units=[100, 100,100,100],
        # The model must choose between 3 classes.
        n_classes=2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmppu6msjw1
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmppu6msjw1', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f20ab2245f8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [126]:
def train_input_fn(features, labels, batch_size):
    """An input function for training"""
    # Convert the inputs to a Dataset.
    dataset = tf.data.Dataset.from_tensor_slices((dict(features), labels))

    # Shuffle, repeat, and batch the examples.
    return dataset.shuffle(1000).repeat().batch(batch_size)

In [133]:
    # Train the Model.
    classifier.train(
        input_fn=lambda:train_input_fn(X_train, y_train.values,
                                                 100),
        steps=2000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmppu6msjw1/model.ckpt-800
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 801 into /tmp/tmppu6msjw1/model.ckpt.
INFO:tensorflow:loss = 33.715298, step = 801
INFO:tensorflow:global_step/sec: 285.526
INFO:tensorflow:loss = 31.422068, step = 901 (0.352 sec)
INFO:tensorflow:global_step/sec: 349.601
INFO:tensorflow:loss = 32.366127, step = 1001 (0.288 sec)
INFO:tensorflow:global_step/sec: 348.328
INFO:tensorflow:loss = 32.736324, step = 1101 (0.287 sec)
INFO:tensorflow:global_step/sec: 348.155
INFO:tensorflow:loss = 24.612574, step = 1201 (0.285 sec)
INFO:tensorflow:global_step/sec: 354.924
INFO:tensorflow:loss = 32.24139, step = 1301 (0.282 sec)
INFO:tensorflow:global_step/sec: 341.334
INFO:tensorflow:loss = 34.39115, step = 1401 (0.293 sec)
INFO:tensorflow:global_step/sec: 340.192
INFO:tensorflow:loss = 23.147993, step = 1501 (0.294 sec)
INFO:tensorflow:global_step/sec: 345.408
INFO:tensorflow:loss = 28.658028, step = 1601 (0.289 sec)
INFO:tensorflow:global_step/sec: 338.63
INFO:tensorflow:loss = 31.947144, step = 1701 (0.298 sec)
INFO:tensorflow:global_step/sec: 319.287
INFO:tensorflow:loss = 24.069605, step = 1801 (0.314 sec)
INFO:tensorflow:global_step/sec: 324.262
INFO:tensorflow:loss = 22.022596, step = 1901 (0.307 sec)
INFO:tensorflow:global_step/sec: 318.723
INFO:tensorflow:loss = 38.867775, step = 2001 (0.312 sec)
INFO:tensorflow:global_step/sec: 319.485
INFO:tensorflow:loss = 28.09402, step = 2101 (0.313 sec)
INFO:tensorflow:global_step/sec: 327.087
INFO:tensorflow:loss = 25.75127, step = 2201 (0.305 sec)
INFO:tensorflow:global_step/sec: 342.821
INFO:tensorflow:loss = 29.678116, step = 2301 (0.291 sec)
INFO:tensorflow:global_step/sec: 311.394
INFO:tensorflow:loss = 29.875755, step = 2401 (0.321 sec)
INFO:tensorflow:global_step/sec: 337.698
INFO:tensorflow:loss = 18.043486, step = 2501 (0.296 sec)
INFO:tensorflow:global_step/sec: 316.963
INFO:tensorflow:loss = 16.463041, step = 2601 (0.318 sec)
INFO:tensorflow:global_step/sec: 317.036
INFO:tensorflow:loss = 21.318241, step = 2701 (0.313 sec)
INFO:tensorflow:Saving checkpoints for 2800 into /tmp/tmppu6msjw1/model.ckpt.
INFO:tensorflow:Loss for final step: 23.76282.

In [134]:

def eval_input_fn(features, labels, batch_size):
    """An input function for evaluation or prediction"""
    features=dict(features)
    if labels is None:
        # No labels, use only features.
        inputs = features
    else:
        inputs = (features, labels)

    # Convert the inputs to a Dataset.
    dataset = tf.data.Dataset.from_tensor_slices(inputs)

    # Batch the examples
    assert batch_size is not None, "batch_size must not be None"
    dataset = dataset.batch(batch_size)

    # Return the dataset.
    return dataset

In [135]:
    eval_result = classifier.evaluate(
        input_fn=lambda:eval_input_fn(X_test, y_test,
                                                100))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2018-03-29-19:49:27
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmppu6msjw1/model.ckpt-2800
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2018-03-29-19:49:28
INFO:tensorflow:Saving dict for global step 2800: accuracy = 0.7932961, accuracy_baseline = 0.5865922, auc = 0.7879022, auc_precision_recall = 0.7779492, average_loss = 1.0213366, global_step = 2800, label/mean = 0.41340783, loss = 91.40962, prediction/mean = 0.41016144

In [136]:
print('\nTest set accuracy: {accuracy:0.3f}\n'.format(**eval_result))

Test set accuracy: 0.793

In [137]:
    predictions = classifier.predict(
        input_fn=lambda:eval_input_fn(test_data,
                                                labels=None,
                                                batch_size=100))

In [138]:
    out=[]
    for pred_dict in (predictions):
        out.append(pred_dict['class_ids'][0])
        #print(pred_dict['probabilities'])

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmppu6msjw1/model.ckpt-2800
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [139]:
pd.DataFrame({'PassengerId': test_data.index, 'Survived':out}).to_csv(PATH+"data/submit_tf.csv", index=False)